@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assets/Poppins-SemiBold.ttf');
}
.d-flex{
  display:flex;
}
.align-items-center{
  align-items: center;
}
.user-icon{
  width:2rem;
  height:2rem;
  padding: 0 1rem;
}
#root {
  min-width: 22rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
nav{
  position: fixed;
  bottom: 0;
  background-color: black;
  height: 5rem;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  list-style: none;
  display: flex;
}
nav ul {
  flex: 1 1 0;
  padding: 0 2rem;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  display: flex;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 5rem;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
}
.login{
  text-align: right;
}
.logo {
  width: 8rem;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.container-card{
  display: flex;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.buttons button{
  background: rgba(0, 0, 0, 0);
}
.card {
  color: #000;
  background: #fff;
  margin: 1rem 0.2rem;
  border-radius: 1.2rem;
  width: 100%;
  /* align-items: center; */
  /* padding: 2em 0; */
}
.card img{
  height: 6.5rem;
  width: 19rem;
}

.card h2{
  font-size: 1.6rem;
  position: relative;
  text-align: left;
  padding: 1rem 1.25rem 1rem 1.25rem;
  border-radius: 0rem 0.7rem 0.7rem 0;
  font-family: 'Poppins-SemiBold';
  width: 11rem;
}

.card-list{
  display: flex;
  gap: 1rem; 
  align-items: center;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
}


.buttons h2{
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Poppins-Medium';
}
.read-the-docs {
  color: #888;
}
.partyListContainer{
  margin: 5rem 0;
}


/******* admin ********/ 
.deleteParties{
  overflow: scroll;
}
.partyCardAdmin{
  border: solid 1px #fff;
  border-radius: 1rem;
  margin: 1rem;
}




/******responsive************/
@media(min-width:1100px) {
  .header{
    left:10rem;
    width: 85%;
  }
  nav {
    height: 100%;
    width: 6rem;
  }
  nav ul{
    flex-direction: column;
  }
}